<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admins and Users</title>
  <div th:fragment="header">
    <nav>
      <ul>
        <li><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </nav>
  </div>
</head>
<body>

<h2>Admin - Users</h2>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>USERNAME</th>
    <th>PASSWORD</th>
    <th>ROLES</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td><a th:href="@{'/admin/' + ${user.id}}" th:utext="${user.id}">ID</a></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
    <td>
      <form th:method="DELETE" th:action="@{'delete/' + ${user.id}}">
        <input type="submit" class="buttonDelete" value="Delete"/>
      </form>
    </td>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>