<div th:fragment="fragmentNewUser" th:remove="tag">
    <form th:action="@{/admin/}" th:object="${newUser}" method="post">
        <div>
            <h2>Add user</h2>
        </div>
        <div class="container text-center" style="background-color: white; padding: 20px; border-radius: 10px;">
            <div class="form-group">
                <label for="username" class="font-weight-bold" style="font-size: 18px;">Username:</label>
                <div>
                    <input type="text" id="username" name="username" th:field="*{username}" style="width: 25%;"
                           required/>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <span th:text="${usernameError}"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="font-weight-bold" style="font-size: 18px;">Password:</label>
                <div>
                    <input type="password" id="password" name="password" th:field="*{password}" style="width: 25%;"
                           required/>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" style="font-size: 18px;">Roles:</label>
                <div th:each="role : ${roles}" class="form-check">
                    <input type="checkbox" id="role-${role.name}" name="roles" th:value="${role.name}"
                           class="form-check-input"/>
                    <label th:for="${'role-' + role.name}" th:text="${role.getNameWithoutRole()}"
                           class="form-check-label"></label>
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Add User"/>
        </div>
</div>
</form>
</div>