<div class="container-fluid" style="background-color: #343a40;">
    <div class="row">
        <div class="col-md-11" style="color: #ffffff;">
            <!-- Левая часть -->
                    <span class="navbar-text">
                        <span th:text="${user.username}"></span>
                        with roles:
                        <span th:each="role, iterStat : ${(user.roles)}">
                            <span th:utext="${role.getNameWithoutRole()}"></span>
                            <span th:if="${!iterStat.last}"> </span>
                        </span>
                    </span>
        </div>
        <!-- Правая часть -->
        <div class="col-md-1" style="color: #9a9a90; cursor: pointer; display: flex; align-items: center;" onclick="location.href='/logout';">
            Logout
        </div>
    </div>
</div>